.wrapper {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 2em;
  min-height: 50vh;

  background: lightgrey;

  text-align: center;
}

.wrapper table {
  border-collapse: collapse;
  margin: 1rem auto;
}

.wrapper th,
.wrapper td {
  border: 1px solid black;
  padding: 0.25rem 1rem;
}
